The main idea of this homework is to understand 

        - split function

        - debug the program

        - looping and conditional constructs

In [32]:
# get the string from the user. convert the string into list 
string=input("Enter a sentence")
text=string.split()
print(text)

lots_of_spaces = 'hello        how        are      you?'
y=lots_of_spaces.split()
print(y)

lots_of_comma = 'hello,how,are,you?'
z=lots_of_spaces.split()
print(z)

# Hint: split

Enter a sentencehi hello how are you?
['hi', 'hello', 'how', 'are', 'you?']
['hello', 'how', 'are', 'you?']
['hello', 'how', 'are', 'you?']

In [1]:
# Find the bug 
# calculate the 2 to the power of 5 

2 ** 5

32

In [55]:
# Develop Arithmetic calculator based on user choice the program should perform arithmetic operation (Any 7 opeations)
a=10
b=5
print("1. add\n 2.subtract\n 3.multiply\n 4.divide\n 5.modulus\n 6.power\n 7.Floor division\n 8.exit")
while True:
  choice=input("Enter your choice")
  if choice=="1":
    print(a+b)
  elif choice=="2":
    print(a-b)
  elif choice=="3":
    print(a*b)
  elif choice=="4":
    print(a/b)
  elif choice=="5":
    print(a%b)
  elif choice=="6":
    print(a**b)
  elif choice=="7":
    print(a//b)
  else:
    break

1. add
 2.subtract
 3.multiply
 4.divide
 5.modulus
 6.power
 7.Floor division
 8.exit
Enter your choice4
2.0
Enter your choice8

In [68]:
# Develop String Calculator based on user choice the program should perform string operations (Any 5 operations )
text="hI Hello! Nice to mEEt You."
print("1.Capitalize\n 2.Find\n 3.Casefold\n 4.Index\n 5.Endswith\n 6.Exit")
while True:
  ch=input("Enter your choice")
  if ch=="1":
    s=text.capitalize()
    print(s)
  elif ch=="2":
    sen=text.find("mEET")
    print(sen)
  elif ch=="3":
    sent=text.casefold()
    print(sent)
  elif ch=="4":
    senten=text.index("You")
    print(senten)
  elif ch=="5":
    sentence=text.endswith('!')
    print(sentence)
  else:
    break

1.Capitalize
 2.Find
 3.Casefold
 4.Index
 5.Endswith
 6.Exit
Enter your choice3
hi hello! nice to meet you.
Enter your choice4
23
Enter your choice5
False
Enter your choice6

In [19]:
# Write a program to prompt the user for hours and rate per hour to compute gross pay.
# Take into account that the university gives the employee 2.5 times the hourly rate for hours worked above 50 hours.
hours=int(input("Enter the hours"))
rateperhour=float(input("Enter the rate per hour"))

if hours<50:
  gpay=rateperhour*hours
  print(gpay)

else:
  gpay=((hours-50)*(2.5*rateperhour)+(50*rateperhour))
  print(gpay)

Enter the hours60
Enter the rate per hour10
750.0

In [44]:
# Create a list called hobbies. Create a for loop that prompts the user for a hobby 3 times, then appends each one to hobbies in the list
# Hint 1 : List 
# Hint 2 : append 
hobbies=[]
for i in range(3):
  hobby=input("Enter an hobby ")
  hobbies.append(hobby)
print(hobbies)

Enter an hobby dance
Enter an hobby sing
Enter an hobby read
['dance', 'sing', 'read']

In [34]:
# Write a Python program to check whether the given integer is a multiple of both 5 and 7 . 
val=int(input("Enter the num"))
if val%5==0 and val%7==0:
  print("Is a multiple")
else:
  print("Not a multiple")

Enter the num35
Is a multiple

In [2]:
# Find the error and correct the mistakes 
# the main idea of this code is to print the data from the dictionary (Data structure)

phone_book = {
'John' : [ '8592970000', 'john@xyzmail.com', 'Humpi' ],
'Bob': [ '7994880000', 'bob@xyzmail.com','Manipal' ],
'Tom' : [ '9749552647' , 'tom@xyzmail.com','Udupi' ]}

for k,v in phone_book.items():
  print(k, ":", v)

John : ['8592970000', 'john@xyzmail.com', 'Humpi']
Bob : ['7994880000', 'bob@xyzmail.com', 'Manipal']
Tom : ['9749552647', 'tom@xyzmail.com', 'Udupi']

In [9]:
# Find the bug 
# print all the numbers between 2 and 8 

list = [x for x in range(10) if (x < 8) and (x > 2) ]
print(list)

[3, 4, 5, 6, 7]

In [13]:
# find the bug
# Suppose you are trying to compute a signal-to-noise ratio in
# decibels. The formula is SNRdb = 10log10(Psignal /Pnoise).

import math
signal_power = 9
noise_power = 10
ratio = signal_power / noise_power
print(ratio)
decibels = 10 * math.log10(ratio)
print(decibels)

0.9
-0.4575749056067512

In [15]:
# Check whether the number is present in the list or not 
list = [1, 2, 3, 4, 5 ]
# in is used to check whether the member is present or not 
a=6
if a in list :
  print("Yes it is present "+a) 
else: 
  print("no it is not")

no it is not

In [17]:
# check whether the number is same or not 
# use of identity opeartor is 
# find the bug 

a=10
b=20 
if ( a is not b ):
  print (" and b do not have same identity")
else:
  print ("a and b have same identity")

 and b do not have same identity

In [23]:
# Find the bug 

# Prints out 0,1,2,3,4 using while loop
count = 0
while count<5:
    print(count)
    count=count +1
    if count >= 5:
      break

0
1
2
3
4

In [26]:
# Prints out only even numbers - 2,4,6,8,10 using for loop and continue
# find the bug 

for x in range(1,11):
    # Check if x is even
    if not x % 2 == 0:
        continue
    print(x)

2
4
6
8
10

In [29]:
# Printing even and odd numbers using for loop and ternary operator
# find the bug 

for x in range(1,10):
    print(str(x) + " is even number") if(x % 2 == 0) else print(str(x) + " is odd number")

1 is odd number
2 is even number
3 is odd number
4 is even number
5 is odd number
6 is even number
7 is odd number
8 is even number
9 is odd number

In [ ]:
# Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5,
#between 5 and 4570 (both included).
for i in range(5,4571):
  if i%7==0 and i%5!=0:
    print(i)

In [61]:
# Write a program which accepts input to convert the temperature from one unit to another based on user choice 
# fahrenheit to celsius or celsius to fahrenheit until they say "Quit".

# Hint: infinite loop
val=float(input("Enter the temperature"))
while True:
  print("1.Celsius to Farenheit\n 2.Farenheit to Celsius\n 3.Exit")
  ch=input("Enter your choice")
  if ch=="1":
    fahr=val*1.8+32
    print(fahr)
  elif ch=="2":
    cel=(val-32)/1.8
    print(cel)
  else:
    break

Enter the temperature45
1.Celsius to Farenheit
 2.Farenheit to Celsius
 3.Exit
Enter your choice1
113.0
1.Celsius to Farenheit
 2.Farenheit to Celsius
 3.Exit
Enter your choice2
7.222222222222222
1.Celsius to Farenheit
 2.Farenheit to Celsius
 3.Exit
Enter your choice3

Write a program that converts the temperature in Celsius to Fahrenheit. Have the program output two columns. In the first column, it prints out the temperature in Celsius, and the second in Fahrenheit. Have the data print out all integer values of Celsius from 0 to 100 in 3 degree increments. Have the data print out the Fahrenheit to 1 decimal

Sample Output (in 4 degree increments for Celsius)![py08_fig1.png]()

sample output

In [33]:
print("Celsius\t\tFahrenheit")
for cel in range(0,101,3):
  fahr=cel*1.8+32
  print("%5d %16.1f"%(cel,fahr))
print("Done!")

Celsius		Fahrenheit
    0             32.0
    3             37.4
    6             42.8
    9             48.2
   12             53.6
   15             59.0
   18             64.4
   21             69.8
   24             75.2
   27             80.6
   30             86.0
   33             91.4
   36             96.8
   39            102.2
   42            107.6
   45            113.0
   48            118.4
   51            123.8
   54            129.2
   57            134.6
   60            140.0
   63            145.4
   66            150.8
   69            156.2
   72            161.6
   75            167.0
   78            172.4
   81            177.8
   84            183.2
   87            188.6
   90            194.0
   93            199.4
   96            204.8
   99            210.2
Done!