**STRING**

In [ ]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
#isprintable()
txt="Hi Nice to meet you!"
x=txt.isprintable()#true if characters are printable
print(x)

#zfill()
y=txt.zfill(25)#adds 0's at the beginning of the string until reaches specified length
print(y)

#rsplit()
text="apple, banana, cherry, lemon"
z = text.rsplit(", ")#splits string into list starting from right
print(z)

#partition()
sentence="I can eat icecreams all day"
a=sentence.partition("icecreams")#splits string into tuple
print(a)

#isspace()
b=txt.isspace()#true if chracter strings are whitespaces
print(b)

#ljust()
t="Pizza!"
c=t.ljust(20)#left align the string
print(c, "It is yummy.")

#maketrans
tt = "Hello Dear!"
mytable = tt.maketrans("a", "e")#returns mapping table
print(mytable)
print(tt.translate(mytable))#replace specified characters

#splitlines
line = "Thank you for the movie\nWelcome to the group\nNice to have you in!"
d = line.splitlines()#splits a string into list
print(d)

#isidentifier
name="Alec_09"
e=name.isidentifier()
print(e) #true if string is valid identifier

#expandtabs
word="H\te\tl\tl\to\tW\to\tr\tl\td!"
f=word.expandtabs(5)#sets tab size to specified number of whitespaces
print(f)

True
00000Hi Nice to meet you!
['apple', 'banana', 'cherry', 'lemon']
('I can eat ', 'icecreams', ' all day')
False
Pizza!               It is yummy.
{97: 101}
Hello Deer!
['Thank you for the movie', 'Welcome to the group', 'Nice to have you in!']
True
H    e    l    l    o    W    o    r    l    d!

**LIST**

In [ ]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
#reverse
fruits=["apple","banana","guvava"]
print(fruits)
fruits.reverse()#reverses the sorting order of elements
print(fruits)

#len
print(len(fruits)) #returns the no of elements in the list

#clear
fruits.clear()#removes all elements from the list
print(fruits)

#insert
fruits.insert(1,"orange")#inserts elements in specified location
print(fruits)

#append
fruits.append("pomegranate")#addds elements to the end of the list
print(fruits)

#extend
fruits.extend(["chikoo","grapes","avacado"]) #adds elements to the end of the list
print(fruits)

#del
del fruits[1] #removes element at the specified index
print(fruits)

#sort
fruits.sort()#sorts ascending by default
print(fruits)
fruits.sort(reverse=True)#sorts in descending order
print(fruits)

#index
g= fruits.index("avacado")#position at the first occurence of the specified value
print(g)

#count
l1=[12,45,78,45,89,98,898,0]
h=l1.count(45)
print(h)#returns the number of times the value is present in the list

['apple', 'banana', 'guvava']
['guvava', 'banana', 'apple']
3
[]
['orange']
['orange', 'pomegranate']
['orange', 'pomegranate', 'chikoo', 'grapes', 'avacado']
['orange', 'chikoo', 'grapes', 'avacado']
['avacado', 'chikoo', 'grapes', 'orange']
['orange', 'grapes', 'chikoo', 'avacado']
3
2

**TUPLES**

In [ ]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [ ]:
#count
my_tuple=(1,2,3,"mountain","beach","lake")
print(my_tuple)
print(my_tuple.count("lake"))#returns the count of elements

#index
i=my_tuple.index(3)#returns the index
print(i)

#len
print(len(my_tuple))#returns the length

#copy
import copy
my_tup=copy.copy(my_tuple)#returns the copied tuple
print(my_tup)

#add two tuples
tup=(12,)
tup3=tup+my_tup
print(tup3)

#multiply
tup4=tup*5
print(tup4)

(1, 2, 3, 'mountain', 'beach', 'lake')
1
2
6
(1, 2, 3, 'mountain', 'beach', 'lake')
(12, 1, 2, 3, 'mountain', 'beach', 'lake')
(12, 12, 12, 12, 12)

**DICTIONARY**

In [ ]:
dir(dict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [ ]:
#clear
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
car.clear()#removes all values from dictionary
print(car)

#fromkeys
x = ('name', 'age', 'place')
y = ('aditi',22,'kemthur')
thisdict = dict.fromkeys(x, y)# returns a dictionary with the specified keys and the specified value.
print(thisdict)

#get()
stud = {
  "name": "aditi",
  "age":   22,
  "dob":  1999
}
x = stud.get("name")#returns the value of the item with the specified key.
print(x)

#items()
j = stud.items()#returns the key-value pair in the dictionary
print(j)

#keys()
k=stud.keys()#returns all keys in the dictionary
print(k)

#update
stud.update({"name": "Aditi"})#updates the specified value
print(stud)

#setdefault
l= stud.setdefault("batch", 2021)#returns the value of the item with the specified key.
print(l)
print(stud)

#popitem
stud.popitem()#removes the item that was last inserted into the dictionary.
print(stud)

#copy()
import copy
m=stud.copy()
print(m)

{}
{'name': ('aditi', 22, 'kemthur'), 'age': ('aditi', 22, 'kemthur'), 'place': ('aditi', 22, 'kemthur')}
aditi
dict_items([('name', 'aditi'), ('age', 22), ('dob', 1999)])
dict_keys(['name', 'age', 'dob'])
{'name': 'Aditi', 'age': 22, 'dob': 1999}
2021
{'name': 'Aditi', 'age': 22, 'dob': 1999, 'batch': 2021}
{'name': 'Aditi', 'age': 22, 'dob': 1999}
{'name': 'Aditi', 'age': 22, 'dob': 1999}

Explicit Type Conversion: the data type is manually changed by the user as per their requirement.

str() : Used to convert integer into a string.

dict() : This function is used to convert a tuple of order (key,value) into a dictionary.

tuple() : This function is used to convert to a tuple.

list() : This function is used to convert any data type to a list type.
*Lab Work:explore various type conversion loke string --> numbers, touples--> list, any other conversions *

In [25]:
#type casting int to string
val=34
string=str(val)
print(string)
print(type(string))

34
<class 'str'>

In [26]:
#type casting float to string
val=9.0
ring=str(val)
print(ring)
print(type(ring))

9.0
<class 'str'>

In [27]:
#type casting  string to int
a="34"
stringtoint=int(a)
print(stringtoint)
print(type(stringtoint))

34
<class 'int'>

In [28]:
#type casting  string to float
a="34.5"
stringtofloat=float(a)
print(stringtofloat)
print(type(stringtofloat))

34.5
<class 'float'>

In [3]:
#type casting  string to tuple
a="hello hi"
stringtotup=tuple(a)
print(stringtotup)
print(type(stringtotup))

('h', 'e', 'l', 'l', 'o', ' ', 'h', 'i')
<class 'tuple'>

In [29]:
#type casting tuple to string
tuple=('h','e','l','l','o')
ing=str(tuple)
print(ing)
print(type(ing))

('h', 'e', 'l', 'l', 'o')
<class 'str'>

In [30]:

#tuple to dictionary
tup=((1,'a'),(2,'b'),(3,'c'))
tuptodict=dict(tup)
print(tuptodict)
print(type(tuptodict))

{1: 'a', 2: 'b', 3: 'c'}
<class 'dict'>

In [31]:
#tuple to list
aTuple = (123, 'xyz', 'zara', 'abc');
aList = list(aTuple)
print(aList)
print(type(aList))

[123, 'xyz', 'zara', 'abc']
<class 'list'>

In [32]:
#dictionary to list
dictt={"a":1,"b":2,"c":3}
dictt_view=dictt.items()
dicttotup=list(dictt_view)
print(dicttotup)
print(type(dicttotup))

[('a', 1), ('b', 2), ('c', 3)]
<class 'list'>

In [36]:
#string to list
sentence="Hello Aditi"
sent=sentence.split(" ")
print(sent)
print(type(sent))

['Hello', 'Aditi']
<class 'list'>

In [41]:
#list to string
list1 = ["Hello"," My", " Name is ","Aditi"]

string=str(list1)
print(string)
print(type(string))

string=""
for i in list1:
  string+=i
print(string)
print(type(string))

['Hello', ' My', ' Name is ', 'Aditi']
<class 'str'>
Hello My Name is Aditi
<class 'str'>

In [4]:
#list to tuple
listx = [5, 10, 7, 4, 15, 3]
print(listx)
#use the tuple() function built-in Python, passing as parameter the list
tuplex = tuple(listx)
print(tuplex)

[5, 10, 7, 4, 15, 3]
(5, 10, 7, 4, 15, 3)

In [5]:
#list to dictionary
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]  
square_dict = {n: n*n for n in list1}  
print(square_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [8]:
#dictionary to tuple
dict={}
dict={"a":1,"b":2,"c":3}
tupp=tuple(dict.items())
print(tupp)
print(type(tupp))

(('a', 1), ('b', 2), ('c', 3))
<class 'tuple'>